.contenedor-turismo{
    width: 1170px;
    height: 368px;
    margin: 40px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(192, 79%, 96%);
    box-shadow: 0 3px 13px 1px rgba(114, 199, 255, 0.445);
    transition: all 400ms ease;
}

.contenedor-turismo:hover {
    box-shadow: 5px 5px 20px rgba(0, 149, 248, 0.801);
    transform: translateY(-3%);
  }
  


.imagen-turismo {
    height: 100%;
    width: 500px;
}
.contenedor-texto-turismo {
    text-align: center;
    padding: 2%;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-turismo {
    font-size: 1.3rem;
}

.temporada-turismo {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto-turismo {
    font-size: 1.1rem;
    text-align: justify;
}