.logo {
    width: 100px;
    height: auto;
}

.NavBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0a3099;
    width: 1903px;
    height: auto;
}

.NavBar a {
    text-decoration: none;
    color:white
}